.wc-block-product-categories {
    margin-bottom: 1.5rem;
    
    &__dropdown,
    &__button {
        display: inline-block;
        vertical-align: middle;
    }

    &__dropdown {
        select {
            @include custom-select();
        }
    }

    &__button {
        margin-left: 10px;
        @include button-size( $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius );
        @include button-variant( theme-color( 'primary' ), transparent, darken( theme-color( 'primary' ), 5% ) );

        svg {
            fill: white;
        }
    }
}