.wc-block-pagination {
    @extend .pagination;
    
    &-page {
        @extend .page-link;

        &:hover:not(:disabled),
        &--active {
            background-color: theme-color( 'primary' )!important;
            border-color: theme-color( 'primary' )!important;
            color: white!important;
        }

        &:disabled {
            color: $gray-500;
            pointer-events: none;
        }
    }
}