.wpcf7-response-output,
.wpcf7-not-valid-tip {
    font-size: small;
}

.wpcf7-not-valid-tip {
    color: white;
}

.wpcf7-response-output {
    color: var(--wp--preset--color--vivid-red);
}

.wpcf7-form-control {
    border: 2px solid var(--wp--gray-200);
}

.wpcf7-submit {
    border-width: 1px;
    border-color: transparent;
}