/* 	= Footer Area
--------------------------------------------------------------- */
.wp-site-footer {
	:is(h1, h2, h3, h4, h5, h6) {
		font-size: 1.5rem;
		font-weight: 700;
	}

	.wp-block-navigation {
		padding: 0;
		align-items: flex-start;

		.navbar-nav {
			min-width: 180px;
		}

		.dropdown-menu {
			position: absolute;
            border-color: var(--wp--preset--color--light);
            font-size: $nav-link-font-size;
        }
	}

	.wp-block-post-template--latest {
		.wp-block-post {
			margin-bottom: 1rem;
		}

		.wp-block-post-featured-image {
			--wp--width: 1.2;
			--wp--height: 1;
			border-radius: 10px;
			min-width: 150px;
			margin-bottom: 0;
			overflow: hidden;
		}

		.wp-block-post-title {
			margin-bottom: 0;
			font-size: 1rem;
			overflow: hidden;

			a {
				color: var(--wp--preset--color--dark);
			}
		}

		.wp-block-post-date {
			svg {
				color: var(--wp--preset--color--secondary);
			}

			time {
				font-weight: bold;
				opacity: .5;
			}
		}

		.wp-block-post-excerpt {
			font-size: .85rem;

			&__more {
				display: none;
			}
		}
	}
}

.wp-site-toasts {
	&:empty {
		display: none;
	}
}