/* 	= Footer Area
--------------------------------------------------------------- */
.wp-site-footer {
	:is(h1, h2, h3, h4, h5, h6) {
		font-size: 1.5rem;
		font-weight: 700;
	}

	.wp-block-navigation {
		padding: 0;
		align-items: flex-start;

		.navbar-nav {
			min-width: 180px;
		}
	}
}