/* 	= Header Area
--------------------------------------------------------------- */
.site-header {
    border-top: 4px solid var(--wp--preset--color--light);

    .wp-block-navigation {
        padding: 0;
        min-height: 55px;

        .dropdown-menu:not(.dropdown-menu-dark) {
            border-color: var(--wp--preset--color--light);
        }
    }
}
