// Core
.wp-site-blocks {
    max-width: 1920px;
    margin: 0 auto;
}

// Styles
.is-style-check {
    list-style: none;
    padding-left: 0;

    li {
        &::before {
            content: '';
            display: inline-block;
            margin-right: 1em;
            padding: .25em;
            width: 1.5em;
            height: 1.5em;
            line-height: 1;
            text-align: center;
            vertical-align: middle;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 490.05 490.05'%3E%3Cpath fill='%23FFD832' d='M418.275 418.275c95.7-95.7 95.7-250.8 0-346.5s-250.8-95.7-346.5 0-95.7 250.8 0 346.5 250.9 95.7 346.5 0zm-261.1-210.7 55.1 55.1 120.7-120.6 42.7 42.7-120.6 120.6-42.8 42.7-42.7-42.7-55.1-55.1 42.7-42.7z'/%3E%3C/svg%3E");
            background-size: contain;
        }
    }
}

.is-style-horizontal {
    .wc-block-review-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 0;

        @include media-breakpoint-up( 'md' ) {
            flex-direction: row;
        }

        &-item__item {
            flex: 1 0 0%;
            background-color: white;
            border-radius: .25rem;
            padding: 10px;
            margin: 0;

            & + li {
                margin: 0;
            }
        }
    }
}

// Other
.card-header,
.card-footer {
    &:empty {
        display: none;
    }
}

// Yoast
.yoast-breadcrumbs {
    color: var(--wp--gray-600);
}