.dgwt-wcas-pd-addtc {
    &-form {
        flex-direction: column;
        justify-content: stretch;
    }

    .add_to_cart_inline {
        margin: 0;
        width: 100%;

        a {
            display: block;
        }
    }

    .quantity {
        display: flex;
        margin: 0 0 15px!important;
    }
}

.dgwt-wcas-details-main-image {
    img {
        width: 100%!important;
        object-fit: cover!important;
    }
}