.widget_product_categories {
    .widget-title {
        text-transform: uppercase;
    }
}

ul.product-categories {
    @include list-unstyled();
    
    > li {
        position: relative;
        display: block;
        background-color: theme-color( 'light' );
        margin-bottom: 1px;
        padding: 4px 10px;

        &.current-cat {
            background-color: theme-color( 'dark' );
            color: white;

            & > a {
                color: inherit;

                &::after {
                    content: '\2212';
                }
            }
        }
        
        .count {
            font-weight: 400;
        }

        > a {
            font-weight: 400;
            text-transform: uppercase;
            
            &::after {
                content: '\002B';
                position: absolute;
                top: 5px;
                right: 10px;
                height: 30px;
                font-size: 26px;
                font-weight: bold;
                font-family: initial;
                line-height: 1;
            }
        }

        .children {
            list-style: none;
            padding: 5px 0;
            padding-left: 10px;

            li.current-cat {
                > a {
                    color: theme-color( 'primary' );
                }
            }

            a {
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 3px 0;
            }

            .count {
                float: right;
                color: theme-color( 'primary' );
            }

            .children {
                a {
                    font-weight: 400;
                }
            }
        }
    }
}