.widget_rating_filter,
.widget_layered_nav_filters {
    ul {
        list-style: none;
        padding: 0;
    }
}

.widget_rating_filter {
    .star-rating:not(.star-rating--custom) {
        float: left;
        margin-top: 4px;
        margin-right: 10px;
        vertical-align: middle;
    }
}