/* ==========================================================================
   Product
   ========================================================================== */
.single-product {
    .woocommerce-breadcrumb {
        margin-bottom: var(--wp--preset--spacing--md);
    }

    .woocommerce-notices-wrapper {
        margin-bottom: var(--wp--preset--spacing--md);

        &:empty {
            display: none;
        }
    }

    .woocommerce-product-images {
        top: 90px;
    }

    .woocommerce-product-summary {
        .price ins {
            font-size: 1.5rem; 
        }
    }

    .woocommerce-product-rating {
        .star-rating {
            float: left;
        }
    }

    .woocommerce-product-meta {
        .product-meta__item--sku {
            text-transform: uppercase;
        }
    }

    .woocommerce-variation {
        margin-bottom: var(--wp--preset--spacing--md);
    }

    form.cart {
        &.variations_form {
            position: relative;
        
            a.reset_variations {
                position: absolute;
                bottom: 100%;
                right: 0;
            }
        }
    
        &.grouped_form {
            overflow: auto;
        }
    }
    
    table.variations,
    table.shop_attributes, 
    .woocommerce-grouped-product-list {
        margin-bottom: var(--wp--preset--spacing--md);
    
        td {
            label {
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0;
            }
    
            p:only-child {
                margin: 0;
            }
        }
    } 
    
    table.shop_attributes {
        width: auto;
        min-width: 300px;
    }
}