.order-review {
    @include media-breakpoint-up( 'lg' ) {
        position: sticky;
        top: 90px;
    }
    
    &__heading {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
}

.woocommerce-checkout-review-order-table {
    margin-bottom: 1rem;

    thead {
        th {
            border-bottom-width: 1px;
        }
    }

    tfoot {
        color: $black;
        
        .order-total {
            .woocommerce-Price-amount {
                color: theme-color( 'primary' );
            }
        }
    }

    tfoot td:last-child,
    .product-total {
        text-align: right;
    }
}