.post-type-archive-changelog {
    .hierarchy-menu {
        &__list {
            max-height: 65vh;
            overflow-y: auto;
        }
    }
}

.changelog-headline {
    @include font-size(1.5rem);
}

.changelog-list {
    list-style-type: none;
    padding-left: 0;

    li {
        position: relative;
        padding-left: calc( 1em + .5rem );

        i,
        svg {
            position: absolute;
            top: calc( 1em / 4 );
            left: 0;
        }
    }
}