// Add to Cart
:is(.add_to_cart_button,.wp-element-button.product_type_simple,.wp-element-button.single_add_to_cart_button,.wc-block-components-product-button__button,.wc-block-components-product-add-to-cart-button) {
    position: relative;
    padding-left: 5.5rem;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

    &.added {
        &::after {
            content: "\2713";
            right: 13px;
        }
    } 

    &.loading {
        &::after {
            content: '';
            position: absolute;
            display: block;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: transparent; 
            border: 2px solid white;
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;
        width: 60px;
        background-color: var(--wp--preset--color--primary);
        background-image: var(--wc--cart);
        background-repeat: no-repeat;
        background-position: 40% center;
        background-size: 25px 25px;
        border-radius: inherit;
        border-top-right-radius: 0;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        z-index: 20;
    }
}

// Cart & Checkout
.wc-block-cart__submit-button,
.wc-block-mini-cart__footer-checkout,
.wc-block-components-checkout-place-order-button {
    position: relative;
    font-size: var(--wp--preset--font-size--small);

    &::before {
        content: '';
        display: inline-block;
        width: 1.125em;
        height: 1.125em;
        background-image: var(--wc--checkout);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: .5rem;
        vertical-align: -.125em;
    }
}

.wc-block-components-checkout-place-order-button {
    background-color: var(--wp--preset--color--primary);
}

// Other
.wc-block-components-button {
    position: relative;
    display: inline-block;

    &--loading {
        &:before {
            background-image: var(--wc--arrow);
            animation: animation__rotate 1s infinite;
        }
    }
}

.added_to_cart {
    display: none
}