/* Cart */
.wc-block-cart {
    &__totals {
        &-title {
            margin-top: 1rem;
            text-align: right;
            font-size: var(--wp--preset--font-size--normal);
        }
    }

    &__submit {
        margin-top: var(--wp--preset--spacing--md);

        &-container {
            text-align: right;
        }

        &-button {
            background-color: var(--wp--preset--color--primary);
            color: var(--wp--preset--color--white);

            &:hover {
                color: var(--wp--preset--color--white);
            }
        }
    }
}

/* Cart Items */
.wc-block-cart-items {
    width: 100%;

    > :not(caption) > * > * {
        border-bottom: 1px solid var(--wp--gray-300);
    }

    &__header {
        &-image,
        &-product,
        &-total {
            padding: 1rem 0;
        }

        &-product {
            padding: 1rem;
        }

        &-total {
            text-align: right;
        }
    }

    &__row {
        position: relative;
        vertical-align: top;
    }
}

/* Cart Item */
.wc-block-cart-item {
    &__image {
        padding: .5rem 0;
        width: 65px;

        @include media-breakpoint-up( 'sm' ) {
            width: 100px;
        }

        img {
            margin-top: 5px;
        }
    }

    &__product {
        padding: .5rem 1rem;

        .is-disabled & {
            @include loader();
        }

        .wc-block-components-product-name {
            display: block;
            color: var(--wp--preset--color--black);
            font-weight: 700;
            width: max-content;
        }

        .wc-block-components-product-metadata {
            &__description {
                p {
                    margin-bottom: .5rem;
                }
            }
        }
        
        .wc-block-components-product-badge ~ .wc-block-components-product-badge {
            margin-left: .5rem;
        }

        .wc-block-components-product-details {
            font-size: var(--wp--preset--font-size--small);
            margin-bottom: .5rem;
        }
    }

    &__total {
        padding: .5rem 0;
        text-align: right;

        .wc-block-components-sale-badge {
            display: none;
        }
    }

    &__prices {
        display: none;
    }

    &__quantity {
        font-size: var(--wp--preset--font-size--small);

        .wc-block-components-quantity-selector {
            margin-bottom: .5rem;
        }
    }

    &__remove-link {
        display: block;
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        padding: 0;
    }
}

/* Mini Cart */
.wc-block-mini-cart {
	display: inline-block;
    color: var(--wp--preset--color--primary);

    &[aria-hidden="true"] {
        display: none;
    }

    &__button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: .5em 0;
    
        &:hover:not([disabled]) {
            opacity: 0.6;
        }

        .modal-open & {
            pointer-events: none;
        }
    }

    &__amount {
        display: none;

        @media screen and (min-width: 768px) {
            display: initial;
            font-weight: 600;
            margin-right: .75em;
        }
    }

    &__quantity-badge {
        display: flex;
        align-items: center;
    }

    &__badge {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--wp--preset--color--danger);
        border: 1px solid var(--wp--preset--color--danger);
        border-radius: .2em;
        color: var(--wp--preset--color--white);
        font-size: var(--wp--preset--font-size--small);
        font-weight: 600;
        height: 1.2em;
        min-width: 1em;
        margin-left: -0.65em;
        padding: 0.2em;
        transform: translateY(-50%);
        white-space: nowrap;
        z-index: 1;
    }

    &__icon {
        display: block;
        height: 1.25em;
        width: 1.25em;
    
        html[dir="rtl"] & {
            transform: scaleX(-1);
        }
    }

    &__tax-label {
        margin-right: 1em;
    }

    &__drawer {
        font-size: 1rem;
    
        .components-modal__content {
            position: relative;
            padding: 0;
        }
    
        .components-modal__header {
            position: absolute;
            top: var(--wp--custom--gutter, 1rem);
            right: var(--wp--custom--gutter, 1rem);
    
            button {
                display: block;
                padding: 0;
                background: none;
                border: none;
                box-shadow: none;
                font-size: 1.5rem;
                color: inherit;
                z-index: 9999;
            }

            svg {
                display: block;
                width: 1em;
                height: 1em;
            }
    
            span {
                display: none;
            }
        }
    }

    &__shopping-button {
        display: flex;
        justify-content: center;
    
        a {
            padding: 1em 2em;
            font-weight: 600;
            border: 1px solid currentColor;
            border-radius: 50px;
            text-decoration: none;
    
            &:hover,
            &:focus {
                background-color: var(--wp--preset--color--secondary);
                color: var(--wp--preset--color--dark);
            }
        }
    }

    &__title {
        @include font-size(larger);
	    margin: var(--wp--custom--gutter, 1rem);
    }

    &__items {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        padding: 0 var(--wp--custom--gutter, 1rem);
    }

    &__products-table {
        margin-bottom: auto;
    }

    &__footer {
        border-top: 1px solid var(--wp--gray-300);
        padding: var(--wp--custom--gutter, 1rem) var(--wp--custom--gutter, 1rem);
    
        &-subtotal {
            font-weight: 600;
            margin-bottom: 1em;
    
            .wc-block-components-totals-item__description {
                display: none;
                
                @media only screen and (min-width: 480px) {
                    font-size: 0.75em;
                    font-weight: 400;
                    display: unset;
                    width: 100%;
                }
            }
        }
    
        &-actions {
            @media only screen and (min-width: 480px) {
                display: grid;
                gap: 1em;
                grid-template-columns: 1fr 2fr;
            }
        }

        &-cart {
            display: none;

            @media only screen and (min-width: 480px) {
                display: block;
                background-color: transparent;
                border-width: 1px;
                border-color: currentColor;
                color: var(--wp--preset--color--primary);
            }
        }

        &-checkout {
            display: block;
            background-color: var(--wp--preset--color--primary);
            color: var(--wp--preset--color--white)!important;
        }

        .wc-block-components-formatted-money-amount {
            color: var(--wp--preset--color--black);
        }

        .wc-block-components-button {
            font-size: var(--wp--preset--font-size--small);
            text-align: center;
            padding: .75rem .75rem;
        }
    
        .wc-block-components-payment-method-icons {
            margin-top: 1em;
        }
    }

    &__empty-cart-wrapper {
        .wp-block-woocommerce-empty-mini-cart-contents-block & {
            overflow-y: auto;
	        padding: calc(var(--wp--custom--gutter) * 2) var(--wp--custom--gutter) var(--wp--custom--gutter);
        }
    }
}

/* Mini Cart Blocks */
.wp-block-woocommerce-mini-cart-contents {
	height: 100vh;
}

.wp-block-woocommerce-empty-mini-cart-contents-block,
.wp-block-woocommerce-filled-mini-cart-contents-block {
    display: flex;
	flex-direction: column;
	height: 100%;
}

.wp-block-woocommerce-empty-mini-cart-contents-block {
	justify-content: center;
}

.wp-block-woocommerce-filled-mini-cart-contents-block {
	justify-content: space-between;
}

/* Totals */
.wc-block-components-totals-wrapper {
    position: relative;
    padding: 1rem 0;

    &:empty {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-style: solid;
        border-width: 1px 0 0;
        border-color: var(--wp--gray-300);
        display: block;
        pointer-events: none;
    }
}

.wc-block-components-totals-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__label {
        flex-grow: 1;
    }

    &__value {
        font-weight: 700;
    }
}

.wc-block-components-totals-footer-item {
    font-size: var(--wp--preset--font-size--large);

    .wc-block-components-totals-item {
        &__label {
            font-weight: 700;
        }
    }
}

.wc-block-components-totals-coupon {
    &__form {
        display: flex;
    }

    &__input {
        flex: 1 1 100%;
        margin-top: 0!important;
    }

    &__button {
        margin-left: 1rem;
        background-color: var(--wp--preset--color--primary);

        &:disabled {
            opacity: .5;
        }
    }
}