// Chips
.wc-block-components-chip {
    display: inline-flex;
    margin-right: .5rem;
    padding: 0;
    background-color: white;
    border: 1px solid var(--wp--gray-300);

    &--radius-large {
        border-radius: 15px;
    }
    
    &__text {
        padding: 5px 8px;
        color: var(--wp--preset--color--dark);
        font-size: .75rem;
    }

    &__remove {
        line-height: 1.1;
        padding: 6px;
        margin: -1px;
        border: inherit;
        border-radius: inherit;
        background: transparent;

        &:hover,
        &:focus {
            background-color: var(--wp--preset--color--danger);
            border-color: var(--wp--preset--color--danger);
            color: white;
        }

        &-icon {
            display: block;
        }
    }
}