.wc-block-featured-category,
.wc-block-featured-product {
    position: relative;
    overflow: hidden;

    &.alignnone {
        margin: 0;
    }

    &.has-left-content {
        div[class*="__wrapper"] {
            align-items: flex-start;
            text-align: left;
        }
    }

    &.has-right-content {
        div[class*="__wrapper"] {
            align-items: flex-end;
            text-align: right;
        }
    }

    &.has-text-color {
        * {
            color: inherit;
        }
    }
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 500px;
        border-radius: inherit;
    }

    &__title,
    &__link,
    &__price,
    &__description {
        padding: 0 var(--wp--custom--gutter, 1rem);
        z-index: 1;
    }

    .background-dim__overlay,
    &__background-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
    }
    
    .background-dim__overlay {
        opacity: var(--wp--bg--opacity, .5);
        pointer-events: none;
        z-index: 1;
    }
    
    &__background-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: none;
    }
}

.wc-block-featured-product {
    &__price {
        @extend .price;
        margin-bottom: 1rem;
    }
}