// Filters
.wc-blocks-filter-wrapper {
    h1, h2, h3, h4, h5, h6 {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--wp--gray-300);
    }

    *[class*="filter__actions"] {
        margin-top: var(--wp--style--block-gap);

        &:empty {
            display: none;
        }
    }
}

// Attribute Filter
.wc-block-attribute-filter {
    .is-loading {
        @include loading-element();
    }
}

// Stock Filter
.wc-block-stock-filter {
    &.is-loading {
        @include loading-element();
    }
}

// Price Filter
.wc-block-price-filter {
    &__range-input {
        &-wrapper {
            &.is-loading {
                @include loading-element();
                height: .5em;
            }
        }
    }

    &__controls {
        .input-loading {
            @include loading-element();
            flex: 1 0 0%;
            height: 2em;
        }
    }
}

// Rating
.wc-block-rating-filter {
    .wc-block-components-product-rating {
        display: flex;

        &-count {
            margin-left: .5rem;
        }
    }

    .is-loading {
        li {
            @include loading-element();
            height: 1.25em;
        }
    }
}

// Active Filters
.wp-block-woocommerce-active-filters {
    padding: 1rem;
    margin-bottom: 3rem;
    border: 1px solid var(--wp--gray-300);
    @include border-radius();
    
    &:empty {
        display: none;

        + * {
            margin-top: 0;
        }
    }
}

.wc-block-active-filters {
    margin: 0;

    &--loading {
        .show-loading-state-list,
        .show-loading-state-chips {
            @include loading-element();
        }

        .show-loading-state-chips {
            display: inline-block;
            margin-right: 1rem;

            &:not(:first-of-type) {
                max-width: 150px;
            }
        }
    }

    &__list {
        @include list-unstyled();
        margin-bottom: 0;
        
        ul {
            @include list-unstyled();

            li {
                display: inline-block;
            }
        }

        &-item {
            display: block;
            overflow: hidden;
            margin-bottom: .5rem;

            &-type {
                display: block;
                margin-right: .5rem;
                margin-bottom: 5px;
            }

            &-remove {
                margin-right: 1rem;
                color: var(--wp--preset--color--danger);
            }
        }
    }

    &__clear-all {
        float: right;
        margin-top: -30px;
    }
}

// Search Filter
.wc-block-product-search {
    &__fields {
        display: flex;
    }

    &__field {
        flex: 1 1 auto;
        padding: .375rem .75rem .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        appearance: none;
        outline: none;

        &:focus {
            border-color: var(--wp--preset--color--primary);
        }
    }

    &__button {
        background-color: var(--wp--preset--color--primary);
        color: white;
        border-radius: .25rem;
        margin-left: .5rem;
    }
}

// Categories Filters
.wc-block-product-categories-list {
    @include list-unstyled();

    &--has-images {
        .wc-block-product-categories-list-item {
            @include clearfix();
            margin-bottom: 1rem;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                @include font-size(1.25rem);
            }
        }
    }

    img {
        position: relative;
        top: -.1em;
        display: block;
        float: left;
        width: 30px;
        margin-right: 1rem;
    }
}

// Count
.wc-block-product-categories-list-item-count,
.wc-filter-element-label-list-count {
    float: right;
    margin-left: 0.5rem;

    &::before,
    &::after {
        display: inline-block;
    }

    &::before {
        content: '(';
    }

    &::after {
        content: ')';
    }
}

// Reset Buttons
.wc-block-components-filter-reset-button,
.wc-block-active-filters__clear-all {
    font-size: var(--wp--preset--font-size--small);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--wp--gray-100);
    border: var(--wc--input--border);
    border-radius: var(--wc--input--radius);
    color: var(--wp--gray-800);

    &:hover,
    &:focus {
        background-color: var(--wp--gray-200);
    }
}