// Forms Adjustments
.form-row-first,
.form-row-last,
.form-row-wide {
    margin: 0;
    grid-column: auto/span 2;
}

.form-row-first,
.form-row-last {
    @include media-breakpoint-up( 'md' ) {
        grid-column: auto/span 1;
    }
}