.wc-block-components-panel {
    position: relative;

    &__button {
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        box-shadow: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        text-decoration: inherit;
        text-transform: inherit;

        svg {
            position: absolute;
            right: 0;
        }
    }

    &__content {
        margin-top: .5rem;
    }
}

.wc-block-components-loading-mask {
    opacity: .5;

    @include loader();
}