.price {
    font-weight: bold;
    line-height: 1;

    del,
    ins {
        & > * {
            font-size: inherit;
            color: inherit;
        }
    }

    del {
        font-size: .8rem;
        color: var(--wp--gray-500); 
    }

    ins {
        color: var(--wp--preset--color--danger);
        text-decoration: none;
        margin-left: 5px;
    }
}