// Product Details
.wc-block-components-product-details {
    @include list-unstyled();
}

// Product Rating
ul.products .star-rating,
.wc-block-grid__product-rating .star-rating,
.wc-block-components-product-rating__stars {
    margin: 0 auto 0.5rem;
} 

// Product Badges
.wc-block-components-product-badge {
    display: inline-block;
    border: 1px solid currentColor;
    border-radius: 2px;
    padding: 0 0.66em;
    font-size: .75em;
    font-weight: 600;
    color: var(--wp--gray-500);
    text-transform: uppercase;
    white-space: nowrap;
}

.onsale,
.wc-block-grid__product-onsale,
.wc-block-components-product-sale-badge {
    position: absolute;
    display: block;
    top: 10px;
    margin: 0;
    background-color: var(--wp--preset--color--danger);
    color: var(--wp--preset--color--white);
    font-size: var(--wp--preset--font-size--small);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    z-index: 9;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.4);
    @include border-radius();

    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 0;
        height: 0;
        border-top: 0 solid transparent;
        border-bottom: 5px solid transparent;
        z-index: -1;
    }
}

.onsale,
.wc-block-grid__product-onsale,
.wp-block-cart-cross-sells-product__product-onsale {
    left: -10px;
    
    &::before {
        border-right: 5px solid rgba(0,0,0,.4);
        left: 5px;
    }
}

.wc-block-components-sale-badge {
    color: var(--wp--preset--color--danger);
}

.wc-block-components-product-sale-badge {
    &--align-left {
        left: -10px;

        &::before {
            border-right: 5px solid rgba(0,0,0,.4);
            left: 5px;
        }
    }

    &--align-right {
        right: -10px;

        &::before {
            border-left: 5px solid rgba(0,0,0,.4);
            right: 5px;
        }
    }
}

.wc-block-components-product-low-stock-badge {
    color: var(--wp--preset--color--warning);
}

// Product Meta
.wc-block-components-product-metadata {
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--cyan-bluish-gray);
}

// Product Image
.type-product,
.wc-block-grid__product-image,
.wc-block-components-product-image {
    position: relative;
    z-index: 2;
    
    img {
        display: block;
        width: 100%;
        object-fit: cover;
        @include border-radius();
        
        &:not(:only-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

// Product Title
:is(.wc-block-grid__product-title,.woocommerce-loop-product__title,.wc-block-components-product-title) {
    font-size: 1rem;
    font-weight: 700;
    color: var(--wp--preset--color--primary);
    text-transform: uppercase;
    margin: .5rem 0;
}

// Product Buttons
:is(.wc-block-components-product-button,.wc-block-components-product-add-to-cart,.wc-block-grid__product-add-to-cart) {
    border-radius: inherit;
}

:is(ul.products .type-product,.wc-block-components-product-button,.wc-block-components-product-add-to-cart,.wc-block-grid__product-add-to-cart) {

    :is(.wp-element-button,.wc-block-components-button,.wp-block-button__link) {
        display: block;
        width: 100%;
        margin-top: 1rem;
        border: none;
        border-radius: inherit;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: var(--wp--preset--color--secondary);
        color: var(--wp--preset--color--dark);
    }
}

// Product Price
:is(.type-product .price,.wc-block-grid__product-price,.wc-block-components-product-price) {
    color: var(--wp--gray-800);
    margin-bottom: .5rem;
}

:is(.price,.wc-block-grid__product-price,.wc-block-components-product-price) {
    font-weight: bold;
    line-height: 1;

    del,
    ins {
        & > * {
            font-size: inherit;
            color: inherit;
        }
    }

    del {
        font-size: .8rem;
        color: var(--wp--gray-500); 
    }

    ins {
        color: var(--wp--preset--color--danger);
        text-decoration: none;
        margin-left: 5px;
    }
}

// Product Deprecated
.single-product {
    .woocommerce-breadcrumb {
        margin-bottom: var(--wp--preset--spacing--md);
    }

    .woocommerce-notices-wrapper {
        margin-bottom: var(--wp--preset--spacing--md);

        &:empty {
            display: none;
        }
    }

    .woocommerce-product-images {
        top: 90px;
    }

    .woocommerce-product-summary {
        .price ins {
            font-size: 1.5rem; 
        }
    }

    .woocommerce-product-rating {
        .star-rating {
            float: left;
        }
    }

    .woocommerce-product-meta {
        .product-meta__item--sku {
            text-transform: uppercase;
        }
    }

    .woocommerce-variation {
        margin-bottom: var(--wp--preset--spacing--md);
    }

    form.cart {
        &.variations_form {
            position: relative;
        
            a.reset_variations {
                position: absolute;
                bottom: 100%;
                right: 0;
            }
        }

        &.grouped_form {
            overflow: auto;
        }
    }

    table.variations,
    table.shop_attributes, 
    .woocommerce-grouped-product-list {
        margin-bottom: var(--wp--preset--spacing--md);

        td {
            label {
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            p:only-child {
                margin: 0;
            }
        }
    } 

    table.shop_attributes {
        width: auto;
        min-width: 300px;
    }
}