/* Quantity Buttons */
%quantity__field {
    min-width: 2.5em;
    min-height: 2.5em;
    padding: 0; 
    background-color: var(--wp--gray-100);
    border: 1px solid var(--wp--gray-100);
    border-radius: 0;
    box-shadow: none; 
    font-size: 1em;
    text-align: center;
    appearance: none;
    outline: none;
}

%quantity__input {
    font-size: .8em;
    max-width: 5rem;
    margin: 0;  
    padding: 0;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
        appearance: none;
        margin: 0;
    }

    &:focus,
    &:active {
        border-color: var(--wp--preset--color--primary);
        box-shadow: none;
    }
}

%quantity__button {
    transition: ease background-color 300ms;
    cursor: pointer; 

    &:hover,
    &:focus {
        background-color: var(--wp--gray-200);
    }
}

/* Containers */
.quantity,
.wc-block-components-quantity-selector {
    display: inline-flex;
}

.wc-block-components-quantity-selector {
    &__input,
    &__button {
        @extend %quantity__field;
    }

    &__input {
        @extend %quantity__input;
    }

    &__button {
        @extend %quantity__button;

        &--minus {
            order: -1;
        }
    }
}

.quantity {
    &__plus,
    &__minus,
    &__qty {
        @extend %quantity__field;
    }

    &__qty {
        @extend %quantity__input;
    } 

    &__minus,
    &__plus {
        @extend %quantity__button;
    }
}