/*	-------  *	
 *  Related	 *																								
 *	-------  */
 .up-sells,
 .related {  
    & > h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    ul.products {
        margin-bottom: 0;

        li.product {
            .card {
                margin-bottom: 0;
                border: none;
                transition: all .3s ease-in-out;
                
                &:hover { 
                    transform: translateY(-10px);
                    box-shadow: 0px 10px 20px 10px rgba(84,110,122,0.15);
                }  
            } 
        }
    }

    .button {
        @include border-top-radius(0);
    }
}
