.onsale,
.wc-block-grid__product-onsale {
    position: absolute;
    display: block;
    top: 10px;
    left: -8px;
    margin: 0;
    background-color: var(--wp--preset--color--danger);
    color: #fff;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    z-index: 9;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.4);
    @include border-radius();

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 0 solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0,0,0,.4);
        border-right-width: 5px;
        position: absolute;
        bottom: -5px;
        left: 3px;
        z-index: -1;
    }
}