.woocommerce-table--order-details,
.woocommerce-checkout-review-order-table {
    thead,
    tfoot {
        background-color: var(--wp--gray-100);

        tr {
            border-bottom: 1px solid var(--wp--preset--color--white);
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid var(--wp--gray-200);
        }
    }
}

@include media-breakpoint-down( 'md' ) {
    table.shop_table_responsive {
        thead {
            display: none;
        }

        tbody {
            tr:first-child {
                td:first-child {
                    border-top: 0;
                }
            }

            th {
                display: none;
            }
        }

        tr {
            display: block;

            td {
                display: block;
                text-align: right !important;
                border-top: 1px solid var(--wp--grey-300);

                &::before {
                    content: attr(data-title) ': ';
                    font-weight: 700;
                    float: left;
                }

                &.order-actions {
                    text-align: left !important; 
                }
                
                &.actions,
                &.product-remove,
                &.product-thumbnail {
                    &::before {
                        content: none;
                    }
                }
            } 
        }
    }
}