.woocommerce-table--order-details,
.woocommerce-checkout-review-order-table {
    thead,
    tfoot {
        background-color: var(--wp--gray-100);

        tr {
            border-bottom: 1px solid var(--wp--preset--color--white);
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid var(--wp--gray-200);
        }
    }

    th,
    td {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}