@keyframes spinner__animation {
	0% {
		animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loading__animation {
	100% {
		transform: translateX(100%);
	}
}

@mixin loader() {
	&::before {
        content: '';
		position: absolute;
		z-index: 50;
		display: block;
		top: 50%;
		left: 50%;
		height: 1.5em;
		width: 1.5em;
		transform: translate3d(-50%,-50%,0);
		// background: url('../images/loader-black.svg') center center;
		background-size: cover;
		font-size: 3rem;
		line-height: 1;
		text-align: center;
		color: rgba(#000, 0.75);
	}
}

@mixin range-track-styles {
    height: 1px;
    outline: 0;
    appearance: none;
	border-color: transparent;
    cursor: default;
}

@mixin range-thumb-styles {
    background-color: var(--wp--preset--color--primary);
    width: var(--wp--thumb-size);
    height: var(--wp--thumb-size);
    border: 0;
	border-radius: 50%;
    padding: 0;
    pointer-events: auto;
    transition: transform .2s ease-in-out;
    appearance: none;
    margin-top: calc( ( var(--wp--slider-height) - var(--wp--thumb-size) ) * .5 );
    z-index: 20;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin range-progress-styles {
    margin: 0;
    padding: 0!important;
    border: 0!important;
    outline: none;
    background: transparent;
    appearance: none;
}