.woocommerce-OrderUpdates {
    list-style: none;
    padding-left: 0;
    padding-top: 1.5rem;
}

.woocommerce-OrderUpdate {
    margin-top: 0!important;
    margin-bottom: 1.5rem;

    &-inner {
        position: relative;
    }

    &-text {
        @include alert-variant( theme-color( 'light' ), darken( theme-color( 'light' ), 15% ), theme-color( 'dark' ) );
        border-left: 4px solid rgba( #000000, .15 );
        padding: 5px 15px;
    }

    &-meta {
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 0;
        font-size: 80%;
    }

    &-description {
        p {
            margin-bottom: .5rem;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}