.header-cart {
	&__subtotal {
		@include media-breakpoint-down( 'sm' ) {
			display: none;
		}
	}

	&__subtotal {
		line-height: inherit;
		color: $gray-300;
		
		.woocommerce-Price-amount {
			font-size: 13px!important;
			font-weight: 300!important;
			color: inherit!important;
		}
	}

	&__count {
		color: #fff;
	}

	&__icon {
		margin-top: 10px;

		.badge {
			@include border-radius(50px);
			overflow: hidden;
			bottom: 100%;
			left: 50%;
			min-width: 1rem;
			font-size: 73%;
			transform: translate3d(0,35%,0);
		}

		svg {
			font-size: 1.4rem;
			color: white;
		}
	}

	button {
		min-height: 55px;
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-left: 1px solid #121215;
		border-right: 1px solid #121215;
		outline: none;  
		cursor: pointer;
		
		@include media-breakpoint-up( 'md' ) {
			min-height: 65px;
		}
	}

	.d-inline-flex {
		line-height: 1.2;
	}

	.dropdown-menu {
		border: none;
		border-top: 2px solid theme-color('primary');
		border-radius: 0;
		margin-top: 0;
		min-width: 300px;
		max-width: 310px;
		padding: 15px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 45px;
		
		@include media-breakpoint-up( 'sm' ) {
			max-width: 350px;
		}
	}
}