<!-- wp:template-part {"slug":"header-top"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"wp-site-header sticky-top"} /-->
<!-- wp:cover {"align":"full","className":"is-style-top","url":"https://placehold.jp/1920x350.png","dimRatio":0,"isDark":false} -->
<div class="wp-block-cover alignfull is-light is-style-top">
    <span aria-hidden="true" class="has-background-dim-0 wp-block-cover__gradient-background has-background-dim"></span>
    <img class="wp-block-cover__image-background" alt="" src="https://placehold.jp/1920x350.png" data-object-fit="cover" />
    <div class="wp-block-cover__inner-container">
        <!-- wp:query-title {"type":"archive","textAlign":"center","textColor":"white","className":"mb-0"} /-->
    </div>
</div>
<!-- /wp:cover -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"wecodeart/query-overlay"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"wp-site-footer"} /-->