<!-- wp:template-part {"slug":"top-bar","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"wp-site-header sticky-top","layout":{"inherit":true}} /-->
<!-- wp:group {"layout":{"inherit":true},"className":"py-5"} -->
<div class="wp-block-group py-5">
    <!-- wp:columns {"className":""} -->
    <div class="wp-block-columns">
        <!-- wp:column {"className":""} -->
        <div class="wp-block-column">
            <!-- wp:group {"tagName":"main","layout":{"inherit":false}} -->
            <main class="wp-block-group">
                <!-- wp:woocommerce/legacy-template {"template":"single-product"} /-->
            </main>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"wp-site-footer","layout":{"inherit":true}} /-->