<!-- wp:template-part {"slug":"top-bar","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"wp-site-header sticky-top","layout":{"inherit":true}} /-->
<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
    <!-- wp:cover {"className":"mb-5","useFeaturedImage":true,"dimRatio":30,"overlayColor":"dark","contentPosition":"bottom center","align":"full"} -->
    <div class="wp-block-cover alignfull has-custom-content-position is-position-bottom-center mb-5">
        <span aria-hidden="true" class="wp-block-cover__background has-dark-background-color has-background-dim-30 has-background-dim"></span>
        <div class="wp-block-cover__inner-container">
            <!-- wp:post-title {"textAlign":"center","level":1} /-->
            <!-- wp:pattern {"slug":"wecodeart/entry-meta"} /-->
        </div>
    </div>
    <!-- /wp:cover -->
    <!-- wp:group {"tagName":"main","className":"my-5","layout":{"type":"constrained","contentSize":"960px"}} -->
    <main class="wp-block-group my-5">
        <!-- wp:post-content /-->
        <!-- wp:post-terms {"term":"post_tag","className":"d-block mb-3"} /-->
        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}} -->
        <div class="wp-block-group">
            <!-- wp:post-navigation-link {"type":"previous"} /-->
            <!-- wp:post-navigation-link {"textAlign":"right"} /-->
        </div>
        <!-- /wp:group -->
    </main>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"wp-site-footer","layout":{"inherit":true}} /-->