<!-- wp:template-part {"slug":"top-bar","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"wp-site-header sticky-top","layout":{"inherit":true}} /-->
<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
    <!-- wp:cover {"className":"mb-5","useFeaturedImage":true,"dimRatio":30,"overlayColor":"dark","contentPosition":"bottom center","align":"full"} -->
    <div class="wp-block-cover alignfull has-custom-content-position is-position-bottom-center mb-5">
        <span aria-hidden="true" class="wp-block-cover__background has-dark-background-color has-background-dim-30 has-background-dim"></span>
        <div class="wp-block-cover__inner-container">
            <!-- wp:post-title {"textAlign":"center","level":1} /-->
            <!-- wp:pattern {"slug":"wecodeart/entry-meta","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}}} /-->
        </div>
    </div>
    <!-- /wp:cover -->
    <!-- wp:columns {"className":"my-5"} -->
    <div class="wp-block-columns my-5">
        <!-- wp:column {"className":"col-lg-8 mx-auto"} -->
        <div class="wp-block-column col-lg-8 mx-auto">
            <!-- wp:group {"tagName":"main","layout":{"inherit":false}} -->
            <main class="wp-block-group">
                <!-- wp:post-content /-->
                <!-- wp:post-terms {"term":"post_tag","className":"d-block mb-3"} /-->
                <!-- wp:group {"className":"mb-3","layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}} -->
                <div class="wp-block-group mb-3">
                    <!-- wp:post-navigation-link {"type":"previous"} /-->
                    <!-- wp:post-navigation-link {"textAlign":"right"} /-->
                </div>
                <!-- /wp:group -->
            </main>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"wp-site-footer","layout":{"inherit":true}} /-->